.container-fluid {
    padding: 0px;
}

.sidebar {
    background-color: #f0f0f0;
    padding: 1rem;
}

.sidebar a, .sidebar hr {
    color: #000000;
}

.nav-pills li a:hover {
    /* background-color: #f2d5cd; */
    background-color: rgb(211, 159, 79);
    color: #000000;
}